body {
    background-color: #F1A488;
    margin: 0;
    /* Remove default margin */
    height: 100vh;
    /* Set the body height to the full viewport height */
    display: flex;
    /* Create a flex container for the body */
    flex-direction: column;
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#score {
    padding-bottom: 2rem;
}

#player-emoji,
#npc-emoji {
    font-size: 200px;
}

.container {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.player-box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.selection-box {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

button {
    background-color: #FFD670;
    border-radius: 6px;
    font-weight: bold;
    font-size: larger;
    padding: 3px 12px;
    border: none;
}